html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ranade", sans-serif;
}

.container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#title {
  user-select: none;
  color: transparent;
  background: linear-gradient(to right, #c24700 0%, #ded835 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  filter: drop-shadow(0.1rem 0.1rem 0.125rem black);
}

.container > .quote {
  padding: 0.5rem 1.125rem;
  margin-bottom: 0.75rem;
  width: 40rem;
  height: 23rem;
  border: 0.25rem solid #cacaca;
  border-radius: 0.5rem;
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #fff;
}

.quote > #line {
  font-size: 1.5rem;
}

.quote > #author {
  margin: 0;
  width: 100%;
  font-size: 1.25rem;
  text-align: right;
}

.quote > #tip {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: large;
}

.container > .panel {
  display: flex;
  gap: 1rem;
}

.panel > button {
  padding: 0.25rem 0.75rem;
  font-size: medium;
  border: 0.125rem solid #000;
  border-radius: 0.25rem;
  cursor: pointer;
  background-size: 300% 200%;
  background-position: left;
  transition: all 0.8s ease;
}

.panel > button:hover {
  background-position: right;
}

.panel > button:disabled {
  cursor: default;
}

.panel > button:disabled:hover {
  background-position: 0;
}

button#generate {
  font-weight: bold;
  background-image: linear-gradient(to right, #fff 50%, #ff14fc 0);
}

.hidden {
  display: none !important;
}
